// ------------------- //
// Sencha Brand Colors //
// ------------------- //

$green     : #95c93d;
$orange    : #f5861f;
$blue      : #00a1dd;
$light     : #a0b2ba;
$medium    : #7d9ca8; 
$dark      : #043f59;

$dark-mode: false;
$base-color: $blue;
$accent_light_color: $light;
$enable-font-awesome: dynamic(true);
$font-weight-normal: 400;

// Source View
.instructions {
    color: white;
    background-color: #4a4a4a;
    padding: 20px;
}

// Demo.ux.Info
.x-panel-info,
.x-panel-info-framed,
.x-panel-info-framed-docked-top,
.x-panel-info-framed-docked-bottom {
    display: flexbox;
    flex-direction: row;

    .x-autocontainer-innerCt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        background-color: $orange;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        color: white;
        border: 2px solid white;
        font-weight: 600;
    }
    
    .info-text {
        flex:1;
        padding: 10px;
    }

    .info-icon {
        flex: 0 0 40px;
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        text-align: center;
    }
}


/* Markdown Renderer */

.rendered-markdown {
    padding: 10px;
    overflow: hidden;

    * {
        max-width: 100%;
    }
    img {
        margin: 10px 0 10px 0;
    }
}

// ViewSource

.docs-link {
    color: lightgray;
}
.docs-link,
.interactive-source .token.property {
    transition: ease-in-out .25s all;
}

.docs-link:hover,
.interactive-source .token.property:hover,
.interactive-source .token.property:active {
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 0, 255, 1);
    box-shadow: inset 0 0 0px 10px rgba(255, 0, 255, 1), 0 0 0px 3px rgba(255, 0, 255, 1);
}

.docs-link:active,
.interactive-source .token.property:active {
    box-shadow: inset 0 0 0px 10px rgba(255, 0, 255, 1), 0 0 0px 5px rgba(255, 0, 255, 1);
}

.x-panel pre[class*=language-] {
    height: 100%;
}